* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

:root {
    --paddingcontainer: 120px;
    --linkcolor: #333;
}


/*  RESPONSİVE  */

@media (max-width:1024px) {
    :root {
        --paddingcontainer: 2rem !important;
    }
}

@media (max-width:768px) {
    :root {
        --paddingcontainer: 0.7rem !important;
    }
}
